AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
AllowAllArgumentsOnNextLine: true
SpaceBeforeParens: Never
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
IndentWidth: 4
IndentWrappedFunctionNames: false
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
